.selected {
  color: blue;
}



.edit-food-form {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.new-food-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  .btn-info{
    width: 200px;
  }
}

.bothForms {
  display: flex;
}
