.selected {
  color: blue;
}

.edit-food-form {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  input{
    width: 500px;
  }
}

.new-food-form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  input {
    width: 500px;
  }
  .btn-info{
    width: 200px;
  }
}

.bothForms {
  display: flex;
}

.displayDetails {
  border: solid 1px black;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: : center;
}
